<div class="menu">
    <!-- Checkbox to toggle the menu -->
    <input type="checkbox" id="tm" />
    
    <!-- Menu -->
    <ul class="sidenav">
        <li 
            data-tag={{route.$.tag}}
            ng-repeat="route in routes | orderBy: '-$.title': true">
            <div class='routeContainer'>
                <a 
                    class='routeName'
                    ng-style="{color:makeHexColor(route.$.color)}">
                    {{route.$.title}}
                </a>
            </div>
        </li>
    </ul>
    
    <!-- Content area -->
    <section>
        <!-- Label for #tm checkbox -->
        <label for="tm">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </label>
    </section>
</div>