<div class="menu">
    <!-- Checkbox to toggle the menu -->
    <input type="checkbox" id="tm" />
    <!-- Menu -->
    <ul class="sidenav">
        <li><a ng-href="#"><i class="fa fa-home"></i><b>Home</b></a></li>
        <li><a ng-href="#/about"><i class="fa fa-inbox"></i><b>About</b></a></li>
    </ul>
    
    <!-- Content area -->
    <section>
        <!-- Label for #tm checkbox -->
        <label for="tm">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </label>
    </section>
</div>